@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  display: grid;
  place-content: center;
  background: hsl(233, 47%, 7%);
}

.card-container {
  max-width: 327px;
  min-height: 780px;
}

.card-img__mobile {
  max-width: 327px;
}
@media (min-width: 40rem) {
  .hide-from-desktop {
    display: none;
  }
}

.card-img__desktop {
  max-width: 556px;
}
@media (max-width: 39.375rem) {
  .hide-from-mobile {
    display: none;
  }
}

.info-wrapper {
  background: hsl(244, 38%, 16%);
  min-width: 327px;
  min-height: 540px;
  padding: 43px 34px 40px 34px;
}

.info-container {
  text-align: center;
}

.info__header {
  color: hsl(0, 0%, 100%);
}

#accent {
  color: hsl(277, 64%, 61%);
}

.info__intel p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  line-height: 26px;
  margin-top: 22px;
}

.info__header, .info__intel p, .info-stats__item h2 {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.info__stats-container {
  margin-top: 36px;
}
.info-stats__items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 15px;
}

.info-stats__item {
  line-height: 33px;
}
.info-stats__item h2 {
  color: hsl(0, 0%, 100%);
}
.info-stats__item p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}