@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  display: grid;
  place-content: center;
  background: hsl(233, 47%, 7%);
}

.card-container {
  max-width: 327px;
  min-height: 780px;
}

.card-img__mobile {
  max-width: 327px;
}
@media (min-width: 40rem) {
  .hide-from-desktop {
    display: none;
  }
}

.card-img__desktop {
  max-width: 556px;
}
@media (max-width: 39.375rem) {
  .hide-from-mobile {
    display: none;
  }
}

.info-wrapper {
  background: hsl(244, 38%, 16%);
  min-width: 327px;
  min-height: 540px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}